.container {
    display:flex;
    justify-content:flex-start;
    align-items:center;
    flex-direction:column;
    width:80%;
    margin:36px auto;
    height: 70vh;
}

.planets-container{
    display: flex;
    width: 80%;
    justify-content:center;
    align-items:flex-start;
}

.dropdown{
    color:"white";
    width: 80%;
    padding:4px;
}

.dropdown-container{
    display: flex;
    flex:1;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(46,46,46);
    margin:20px;
    color:rgb(200,200,200);
    border-radius: 10px;
    padding:20px;
    font-size: 16px;
}

.vehicles { 
    margin-top: 12px;
    padding: 12px;
    border-top: 3px solid rgb(200,200,200);
}

.radio {
    cursor: pointer;
}

.radio-disabled {
    text-decoration: line-through;  
    cursor: not-allowed;
}


.timer-container {
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    background-color: rgba(46,46,46);
    border-radius: 10px;
    margin-top: 50px;
    width:30%;
}

.timer {
    background-color: rgba(46,46,46);
    color: rgb(200,200,200);
    font-size: 20px;
    padding: 0px 20px;
    border-radius: 5px;
    margin: 10px 0px;
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: space-around;
    width:100%;
    text-align: center;
}

.btn {
    color: rgba(46,46,46);
    background-color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    width:40%;
    padding: 10px 0;
    margin-bottom: 10px;
}

.btn-disabled {
    background-color: grey;
    cursor:not-allowed;
}
