.container {
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    width:80%;
    margin:36px auto;
}

.planets-container{
    display: flex;
    width: 80%;
    justify-content:center;
    align-items:flex-start;
}

.dropdown{
    color:"white";
    width: 100px;
    padding:4px;
}

.dropdown-container{
    display: flex;
    flex:1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(46,46,46);
    margin:20px;
    color:rgb(200,200,200);
    border-radius: 10px;
    padding:20px;
    font-size: 16px;
}

.vehicles { 
    margin-top: 12px;
    padding: 12px;
    border-top: 3px solid rgb(200,200,200);
}

.radio-input {
    color:'red'
}