
.header {
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:rgb(46, 46, 46);
    color:#f5f5f5;
    padding:10px;
}

.headerLeft {
    flex:1
}

.headerRight {
    flex:1;
    list-style:none;
    display:flex;
    justify-content:center;
    align-items:center;
}

.falconImg {
    max-width: 80px;
    max-height: 80px;
}

.title {
    font-size:24px;
    flex:3;
    min-width:100px;
    color:rgb(245, 245, 245)
}

.listItem {
    padding:12px;
    text-decoration: none;
    position: relative;
    cursor: pointer;
    font-size: 20px;
}

.listItem::before{
  content: "";
  position: absolute;
  width: 70%;
  height: 2px;
  bottom: 0;
  left: 15%;
  background-color: white;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.active::before{
    transform: scaleX(1);
    visibility: visible;
}

.listItem:hover::before{
  visibility: visible;
  transform: scaleX(1);
  cursor: pointer;
}

