
.header {
    display:flex;
    justify-content:space-between;
    align-items:center;
    background-color:rgb(46, 46, 46);
    color:rgb(200, 200, 200);
    padding:10px;
    font-weight: lighter;
    font-family: 'Courier New', Courier, monospace;
    height: 10vh;
    box-sizing: border-box;
}

.header-left {
    flex:1;
    display:flex;
    justify-content: flex-start;
    align-items: center;
}

.header-right {
    flex:1;
    list-style:none;
    display:flex;
    justify-content:flex-end;
    align-items:center;
}

.falcon-img {
    max-width: 80px;
    max-height: 80px;
}

.title-name {
    margin-left: 24px;
    font-size:24px;
    min-width:100px;
}

.list-item {
    display: inline-block;
    padding:6px 12px;
    text-decoration: none;
    position: relative;
    cursor: pointer;
    font-size: 20px;
    color:rgb(200, 200, 200);
}

.list-item::before{
  content: "";
  position: absolute;
  width: 70%;
  height: 2px;
  bottom: 0;
  left: 15%;
  background-color: white;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.story::before{
    transform: scaleX(1);
    visibility: visible;
}

.findfalcone::before{
    transform: scaleX(1);
    visibility: visible;
}

.list-item:hover::before{
  visibility: visible;
  transform: scaleX(1);
  cursor: pointer;
}

.links{
    text-decoration: none;
    color: rgb(200,200,200);
    font-size: 20px;
}

@media(max-width:760px){
    .header-right{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .header{
        height: fit-content;
    }
    .links{
        font-size: 16px;
    }
}